<h2>Room</h2>
<ul>
  <% @rooms.each do |room| %>
    <li><a href="room/<%= room.id %>"><%= room.name %></a></li>
  <% end %>
</ul>
<%= form_with url:'/create' do |f| %>
  <%= f.label "ROOMを追加" %>
  <%= f.text_field name="room[name]",placeholder:'ROOM1' %>
  <%= f.submit "作成", id: "room_add" %>
<% end %>
<p><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></p>