<header class="chat__header">
  <h1 class="chat__header--title">LINE</h1>
  <p><span><%= current_user.email %></span><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></p>
</header>

<div class="chat">
  <div class="chat__rooms">
    <ul class="chat__room-wrapper">
      <% @rooms.each do |room| %>
        <li class="chat__room"><a href="room/<%= room.id %>"><%= room.name %></a></li>
      <% end %>
    </ul>
    <%= form_with url:"/create" do |f| %>
      <%= f.label "ROOMを追加" %>
      <%= f.text_field name="room[name]",placeholder:'ROOM1' %>
      <%= f.submit "作成", id: "room_add" %>
    <% end %>
  </div>

  <div class="chat__contents">
    <h2 class="chat__contents-title"><%= @room.name %></h2>
    <div class="chat__contents-wrapper" id="messages" data-room_id="<%= @room.id %>">
      <%= render @messages %>
    </div>
    <form class="chat__form-text">
      <input type="text" data-behavior="room_speaker" class="chat__input">
    </form>
  </div>
</div>
